
body{
    background-color: #333131;
  }
  
  
  #img01{
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
  }

  #img02{
     margin-top: 400px;
      margin-left: 350px;
      margin-right: 200px;
  }

  #img03{
     margin-top: 450px;
     margin-left: 450px;
      margin-bottom: 100px;
      margin-right: 400px;
  }
  
  .img_button img{
    display: block;
  }
  
  .img_button:hover{
    opacity: 0.5;
  }
  
  .content{
    display: none;
    padding: 30px;
  }
  
  .close_button{
    display: inline-block;
    padding:20px;
    margin: 20px;
    border-radius: 20px;
    cursor:pointer;
    font-style: inherit;

  }

  .img_button{
    transition: 1.0s all;
    cursor: pointer;
  }
  
  
  .txt{
    width: 80%;
    padding: 10px;
    background-color: rgba(253, 242, 226, 0.377);
  }
  
  #content01 .close_button{
      background-color: rgba(122, 78, 19, 0.733);
  }

  #content02 .close_button{
    background-color: rgb(238, 255, 0);
  }
  
  #content03 .close_button{
    background-color: rgb(255, 0, 0);
  }